@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    padding-right: 16px;
    padding-left: 16px;
  }
  /* offer */
  .offer {
    background-image: url(../image/desktop-bg-1.png);
    display: flex;
    gap: 90px;
    padding-top: 260px;
  }
  .offer-image {
    width: 550px;
    height: auto;
    top: 50%;
    transform: translateY(-35%);
    left: 100px;
    margin-bottom: 16px;
  }
  .offer-wrap {
    margin-left: auto;
    margin-right: 52px;
    width: 580px;
  }
  .offer-title {
    font-size: 42px;
    line-height: 1.2;
  }
  .offer-text {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 48px;
  }
  .offer-list {
    flex-direction: row;
    gap: 60px;
    margin-bottom: 20px;
  }
  .offer-item {
    width: calc((100% - 60px) / 2);
  }
  .offer-link-wrap {
    display: none;
  }
  /* favorites */
  .favorites-text {
    margin-bottom: 40px;
  }
  .favorites-list {
    max-width: 1248px;
    flex-basis: calc((100% - 64px) / 3);
  }
  /* customers */
  .customers {
    background-image: url(../image/desktop-bg-2.png);
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .customers-list {
    gap: 140px;
  }
  .customers-item {
    max-width: 501px;
  }
}
