:root {
  --light-green: #bbf330;
  --dark-green: #7eb101;
  --yellow: #ffe450;
  --dark: #2c2c2c;
  --transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  margin: 0;
}
button {
  cursor: pointer;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--dark);
  background-color: #fefefe;
}
.container {
  max-width: 767px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* -----------------------------OFFERINGS----------------------------- */
.offer {
  background-image: url(../image/mobile-bg-1.png);
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 auto;
  background-size: 100%;
  padding-top: 410px;
  padding-bottom: 72px;
  position: relative;
}
.offer-image {
  position: absolute;
  top: 41px;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 16px;
}
.apples-tablet-only {
  display: none;
}
.offer-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 28px;
  max-width: 280px;
}
.offer-text {
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 28px;
}
.offer-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 28px;
}
.offer-item {
}
.offer-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 16px;
}
.offer-icon {
  fill: var(--dark-green);
}
.offer-subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 16px;
}
.offer-subtext {
  font-size: 14px;
  line-height: 1.43;
}
.offer-button {
  display: inline-flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid var(--dark-green);
  background: #ffffff;
}
.offer-button:focus,
.offer-button:hover {
  background: var(--light-green);
  border-color: transparent;
}
.offer-link {
  color: var(--dark);
}
.offer-more {
  fill: var(--dark);
}
.offer-link-wrap {
  display: flex;
  align-items: center;
}
.offer-bottom {
  display: flex;
  gap: 24px;
}
/* -----------------------------OFFERINGS----------------------------- */
.favorites {
  padding-top: 60px;
  padding-bottom: 60px;
}
.favorites-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 20px;
}

.favorites-text {
  color: #2c2c2c;
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
  line-height: 1.14;
  margin-bottom: 60px;
}
.favorites-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.favorites-item {
}
.favorites-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 11px solid var(--yellow);
  background: transparent;
  transition: border-color var(--transition-effect);
}
.favorites-link:hover,
.favorites-link:focus {
  border-color: var(--light-green);
}
.favorites-link:active {
  border-color: var(--dark-green);
}
.favorites-image {
}
/* -----------------------------CUSTOMERS----------------------------- */
.customers {
  background-image: url(../image/mobile-bg-2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 0 auto;
  background-size: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.customers-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 20px;
  text-align: center;
}
.customers-text {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 32px;
  text-align: center;
}
.customers-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.customers-item {
  padding: 12px;
  background-color: #ffffff;
  margin-bottom: 24px;
  max-width: 336px;
  margin: 0 auto;
  position: relative;
  border-radius: 34px;
  border-top-left-radius: 0;
}
.customers-stars {
  margin-bottom: 28px;
}
.customers-response {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.18;
  margin-bottom: 40px;
}
.customers-wrap {
  margin-left: 64px;
  position: relative;
}
.customers-wrap::after {
  z-index: 1;
  position: absolute;
  content: '';
  width: 1px;
  height: 50px;
  background-color: #7eb101;
  bottom: -6px;
  left: 104px;
}
.customers-photo {
  position: absolute;
  left: 8px;
  bottom: 10px;
}
.customers-name {
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 2px;
}
.customers-about {
  font-size: 14px;
  line-height: 1.14;
}
/* -----------------------------PREFOOTER----------------------------- */
.prefooter {
  position: relative;
  padding-top: 52px;
  padding-bottom: 60px;
}
.banana-img {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 16px;
}
.prefooter-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  min-width: 258px;
  margin-bottom: 20px;
}
.prefooter-text {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 40px;
}
.prefooter-form {
  display: flex;
  flex-direction: column;
}
.prefooter-label {
}
.prefooter-input {
  padding: 12px;
  border-radius: 30px;
  border: 0.9px solid var(--yellow);
  background: #ffffff;
  color: #505050;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 20px;
}
.prefooter-button {
  color: inherit;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.15;
  padding: 11px 22px;
  max-width: 103px;
  background: var(--light-green);
  border: transparent;
  border-radius: 30px;
  margin-left: auto;
}
/* -----------------------------FOOTER----------------------------- */
.footer {
}
.footer-container {
  background-image: url(../image/footer-frame-mob-1x.png);
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 auto;
  background-size: 100%;
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
  padding-top: 64px;
  padding-bottom: 60px;
}
.footer-navigation {
  display: flex;
  gap: 46px;
  margin-bottom: 40px;
}
.footer-logo {
}
.footer-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-navigation-item {
}
.footer-navigation-link {
  color: #000;
  font-size: 14px;
  line-height: 1.14;
}
.footer-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.footer-subs-text {
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 12px;
}
.footer-subs-input {
  padding: 12px;
  border-radius: 30px;
  border: 0.9px solid var(--yellow);
  background: #ffffff;
  color: #505050;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 20px;
}
.footer-subs-button {
  padding: 8px 22px;
  max-width: 103px;
  border-radius: 30px;
  border: 0.854px solid #7eb101;
  background: #ffffff;
  color: inherit;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.15;
  padding: 11px 22px;
  max-width: 103px;
  margin-bottom: 24px;
}
.footer-policy-text {
  font-size: 10px;
  line-height: 1.2;
}
.footer-policy-link {
  color: var(--dark-green, #7eb101);
  font-size: 10px;
  line-height: 1.2;
  text-decoration-line: underline;
}
.footer-policy-wrap {
}
.footer-policy-iner {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.footer-policy-right {
  font-size: 10px;
  line-height: 1.2;
  margin-top: 40px;
  text-align: center;
}
/* @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-bg-2x.jpg);
  }
} */
